
@{
    ViewBag.Title = "Exchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Exchange and Return Policy</font></h2>
<ul>
    <li>Exchange, return within 1 week</li>
    Exchange and return books must not be crumpled or torn.
    <li>Free Send</li>
    Free shipping through more than 20,000 Post Offices nationwide.
    <li>Update information</li>
    Continuously update each processing stage via email.
</ul>
<ol>
    <p><b>Steps to exchange and return goods</b></p>
    <li>Register for exchange and return</li>
    Contact FPTBookstore via hotline 0915151041 or Visit FPTBookstore.cf/Home/Contact to register for exchange/return including Saturday, Sunday.
    <li>Receive a confirmation message</li>
    Bring the product to the post office and you will receive free shipping back to FPTBookstore at over 20,000 Post Offices nationwide.
</ol>
