
@{
    ViewBag.Title = "Help";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Frequently asked questions</font></h2>
<ul>
    <li><a href="#">How to cancel a new order placed on FPTBookStore?</a></li>
    <li><a href="#">How to install the FPTBookstore app on my device?</a></li>
    <li><a href="#">Estimated delivery time</a></li>
    <li><a href="#">Error 1303 - Read date expired</a></li>
    <li><a href="#">Which devices can run the FPTBookstore application?</a></li>
</ul>

