
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Payment methods</font></h2>
<ol>
    <li><b>Payment via MoMo</b></li>
    To pay with MoMo, your ATM card has registered for Internet Banking service and registered for MoMo, please choose the form:
    <br />
    Pay with MoMo (free of charge)
    <br />
    Proceed order
    <br />
    The FPTBookstore.cf system will transfer you to the MoMoPay gateway payment interface, where you can scan the QR code or log in and make the payment as instructed.
    <li><b>Payment on delivery</b></li>
    Please select payment upon receipt and follow the instructions.
</ol>