
@{
    ViewBag.Title = "Regulation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Usage rules</font></h2>
<ul>
    <li><b>Article 1: </b></li>
    - When registering an account, you should provide full information about your name, address, email,...
    <br />
    - These are mandatory information, customers must fill in all information so that we can base on that to serve you in the best way.
    <br />
    - Cases filled with missing information or false information will not be resolved.
    <li><b>Article 2: </b></li>It is the customer's responsibility to protect the password themselves, if the password is exposed in any way, FPTBookStore will not be responsible for any loss incurred.
    <li><b>Article 3: </b></li>Absolutely do not use any program, tool, or other forms to interfere with the system or change the data structure.
    <li><b>Article 4: </b></li>
    - When detecting system errors, please notify the bookstore management team via email at FPTBookstore@gmail.com
    <br />
    - There must not be any acts to illegally log in or attempt to illegally log in as well as cause damage to the FPTBookstore's server system.
</ul>
  
