
@{
    ViewBag.Title = "Transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Shipping methods</font></h2>
<p><font size="4">Free shipping</font></p>
<ul>
    <li>Áp dụng đơn hàng tại Hồ Chí Minh giá trị từ 150.000 VNĐ. Thời gian nhận hàng từ 1-3 ngày làm việc ( nội thành), 3-5 ngàylàm việc( ngoại thành) kể từ ngày có đủ sách.</li>
    <li>Áp dụng đơn hàng tại tỉnh thành khác giá trị từ 250.000 VNĐ. Thời gian nhận hàng từ 3-7 ngày làm việc theo quy định về thời gian giao hàng của bưu điện.</li>
</ul>
<p><font size="4">Fast and secure delivery</font></p>
<ol>
    <li>The responsibility for processing orders and shipping products to customers is assumed by FPTBookstore.cf and depends on the form of payment and shipping for the products that the customer declares when creating the order.</li>
    <li>FPTBookstore.cf will be responsible for ensuring that customers receive the goods exactly as ordered within the delivery time as committed. In case the goods are defective or damaged during transportation, FPTBookstore will accept the exchange of new goods for customers.</li>
    <li>In case the customer voluntarily cancels the order or the order is completed but cannot be delivered to the customer due to incorrect contact information, FPTBookstore.cf will cancel the order.</li>
</ol>
<p><font size="4">Domestic delivery</font></p>
<ol>
    <li>Delivery within the inner HCM City:</li>
    The delivery staff of FPTBookstore will deliver the goods to your place in HCM City from 1-3 working days from the date of having enough books.
    <li> Delivery usually by post:</li>
    Goods are sent by post. This way, you will receive the goods in a period of 3 to 7 days.
</ol>
<p><font size="4">International delivery</font></p>
<ol>
    <li>Courier DHL:</li>
    Goods are shipped fast via the DHL service provider. With this shipping method, you will receive the goods at your home in about 3 to 5 days.
    <li> Shipping regular goods by plane:</li>
    Goods are sent by post, transported by plane. The time you receive the goods is about 10 to 20 days
</ol>