
@{
    ViewBag.Title = "Transport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><font color="green" size="5">Shipping methods</font></h2>
<p><font size="4">Fast and secure delivery</font></p>

<p><font size="4">Domestic delivery</font></p>
<ol>
    <li>Delivery within the inner HCM City:</li>
    The delivery staff of FPTBookstore will deliver the goods to your place in HCM City from 1-3 working days from the date of having enough books.
    <li> Delivery usually by post:</li>
    Goods are sent by post. This way, you will receive the goods in a period of 3 to 7 days.
</ol>
