
@{
    ViewBag.Title = "ActivationNotice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Account Not Activated</h2>
<div class="alert alert-danger" id="after">
    <strong><span style="margin-right: 5px;" class="glyphicon glyphicon-ok"></span>  Please Check Email, Activate Account To Purchase</strong>
</div> 

