
@{
    ViewBag.Title = "CheckActivationNotification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Account successfully created</h2>

<p>
    @Html.ActionLink("Back Homepage","Index", "Home")
</p>