
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Member Registration Confirmation</h2>
<div class="alert alert-warning" id="previous">
    <strong>Verify account</strong>
    <input type="submit" class="btn btn-warning" value="Activate" onclick="Confirm()"/>
</div>
<div class="alert alert-success" id="after" style="display: none;">
    <strong><span class="glyphicon glyphicon-ok"></span> Account Activated Successfully, Please Log In Again To Purchase!</strong>
    <p style="text-align: center; color: red;">You will be redirected to the Purchase page in <span id="countdown"></span></p>
</div>

<script>
    function Confirm() {
        $.ajax({
            type: "POST",
            url: "/User/ConfirmEmail",
            data: { 'khCustomerID': '@ViewBag.CustomerID' },
            success:function(msg) {
                $('#previous').hide();
                $('#after').show();
                alert(msg);
                window.setTimeout(function () {
                    window.location.href = '@Url.Action("Index", "Home")';
                }, 10000);
            }
        });
    }
    var timeleft = 12;
    var downloadTimer = setInterval(function () {
        if (timeleft <= 0) {
            clearInterval(downloadTimer);
            document.getElementById("countdown").innerHTML = "0 s";
        } else {
            document.getElementById("countdown").innerHTML = timeleft + " s";
        }
        timeleft -= 1;
    }, 1000);
</script>
