
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Successful purchase.

</div>
<a href="/Home/Index" style="float:right;" class="btn btn-danger">Go back to the home page</a>
