

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; background-color: dodgerblue; color: white; font-size: 45px;">
        <b>FPTBookstore</b>
    </div>
    <div>
        <pre>Please Activate Your Account To Become A Customer Of <a href="FPTBookstore17dtha3.cf" target="_blank">FPTBookstore17dtha3.cf</a>
            <br /><a href="@ViewBag.ConfirmationLink">Click Here To Go To Activation Page</a>
        </pre>
    </div>
</body>
</html>
